<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weather App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.minmeteo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WeatherForecastApp.styles.css" asp-append-version="true" />



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="WeatherForecast" asp-action="SearchByCity">MyWeather&copy;</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @*
                            <a class="nav-link active" href="#">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                            *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://openweathermap.org/">API</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="http://www.marocmeteo.ma/">General Directorate of Moroccan Meteorology</a>
                                <a class="dropdown-item" href="https://earthquake.usgs.gov/earthquakes/map/?extent=20.46821,-31.86035&extent=45.49096,21.57715" target="_blank">Seismic activity in the world</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/youness-hamdaoui-4b269b201/">About HAMDAOUI Youness</a>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/alyae-essiba-31a943227/">About ESSIBA Alyae</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex" id="googleSearchForm">
                        <input id="searchInput" class="form-control me-sm-2" type="search" placeholder="Quick research in Google ... ">
                        <button class="btn btn-secondary my-2 my-sm-0" type="button" onclick="searchGoogle()">Search</button>
                    </form>

                    <script>
                        function searchGoogle() {
                            var searchTerm = document.getElementById('searchInput').value;

                            if (searchTerm.trim() !== '') {
                                // Construire l'URL de recherche Google
                                var googleSearchUrl = 'https://www.google.com/search?q=' + encodeURIComponent(searchTerm);

                                // Rediriger l'utilisateur vers l'URL de recherche Google dans une nouvelle fenêtre/onglet
                                window.open(googleSearchUrl, '_blank');
                            }
                        }

                        // Vous pouvez également écouter l'événement de soumission du formulaire
                        document.getElementById('googleSearchForm').addEventListener('submit', function (event) {
                            event.preventDefault();
                            searchGoogle();
                        });
                    </script>

                </div>
            </div>
        </nav>






      @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WeatherForecastApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyWeather, Application .NET Core développée par E.Alyae & H.Youness - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
